<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pammmuse.pammmuse.repository.OrderMapper">

    <!-- 주문 상품 정보 -->
    <select id="getProductsInfo" resultType="com.pammmuse.pammmuse.model.OrderItemDto">

        select id, product_name, product_price, product_discount, image_url
        from product where id = #{id}

    </select>

    <select id="getOrderInfo" resultType="com.pammmuse.pammmuse.model.OrderItemDto">

        select id, product_price, product_discount
        from product where id = #{id}

    </select>

    <!-- 주문 테이블 등록 -->
    <insert id="enrollOrder">

        insert into pammmuse.order(order_id, addressee, username, user_addr1, user_addr2, user_addr3, order_state, delivery_cost)
        values(#{order_id}, #{addressee}, #{username}, #{user_addr1}, #{user_addr2}, #{user_addr3}, '배송준비', #{delivery_cost})

    </insert>

    <!-- 주문 아이템 테이블 등록 -->
    <insert id="enrollOrderItem">

        insert into order_item(order_id, product_id, product_count, product_price, product_discount)
        values(#{order_id}, #{id}, #{product_count}, #{product_price}, #{product_discount})

    </insert>

    <!-- 주문 재고 차감 -->
    <update id="deductStock">

        update product set product_stock = #{product_stock} where id = #{id}

    </update>
</mapper>