<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pammmuse.pammmuse.repository.UserMapper">

    <!-- User 테이블 가져오기 -->
    <select id="getUserList" resultType="com.pammmuse.pammmuse.dto.UserVo">
        SELECT *
        FROM user
    </select>

    <!-- 회원가입 -->
    <insert id="insertUser">
        INSERT INTO user
        (name, username, email, password, address, phone)
        VALUES
        (#{name}, #{username}, #{email}, #{password}, #{address}, #{phone})
    </insert>

    <!-- 회원 정보 가져오기 -->
    <select id="getUserByUserName" resultType="com.pammmuse.pammmuse.dto.UserVo">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>

    <select id="getUserById" resultType="com.pammmuse.pammmuse.dto.UserVo">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateUser">
        UPDATE user
        SET name = #{name},
        username = #{username},
        email = #{email},
        password = #{password},
        address = #{address},
        phone = #{phone}
        WHERE id = #{id}
    </update>

    <!-- 탈퇴 -->
    <delete id="deleteUser">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

</mapper>